.savings_card {
    width: 100%;
    height: 100px;
    background-color: var(--branco);
    padding: 20px;
    border-radius: 10px;
    display: flex;
    gap: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.title_card {
    font-size: 20px;
    font-weight: bold;
}

.value_card_g {
    color: var(--verde-receita);
    font-size: 22px;
    font-weight: 900;
}

.value_card_b {
    color: var(--preto);
    font-size: 22px;
    font-weight: 900;
}

.savings_balance,
.savings_transactions,
.savings_start_date,
.savings_tax {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.savings_edit {
    display: flex;
    align-items: flex-end;
}

.form_savings {
    display: flex;
    gap: 10px;
}

.form_savings input {
    background-color: var(--cinza-bg);
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline-style: none;
}

.edit_icon_savings {
    color: var(--cinza-texto);
    font-size: 30px;
    transition: 0.3s;
    cursor: pointer;
}

.edit_icon_savings:hover {
    color: var(--preto);
}

.dataInicio_rendimento_area, .saldo_receita_area {
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: flex-end;
    justify-content: center;
}

.rendimento_lapis_area {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

@media(max-width: 1080px) { 
    .goals_component {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    
}

@media(max-width: 1020px) {
    .goals_component {
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }

    .savings_card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 180px;
    }
}

@media(max-width: 600px) {
    .dataInicio_rendimento_area, .saldo_receita_area{
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }

    .savings_card {
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 325px;
        align-items: center;
    }

    .title_card {
        align-items: center;
        text-align: center;
    }
}