.screen-dash {
  display: flex;
  height: 100%;
}

.left_area-dash {
  background-color: #1a3c34;
}

.right_area-dash {
  width: 100%;
  flex: 1;
  background-color: #e8f0f2;
  overflow-y: auto;
}

.title_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title_area h1 {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

.title_area select,
.title_area input {
  width: 31.5%;
  padding: 12px;
  border-radius: 12px;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  font-size: 14px;
  outline: none;
  transition: box-shadow 0.3s ease;
}

.title_area input:hover,
.title_area select:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
}

.data-account {
  display: flex;
  align-items: center;
  gap: 20px;
  width: 68.5%;
  justify-content: flex-start;
}


.switch_filter_account {
  display: flex;
  gap: 15px;
  background-color: var(--branco);
  padding: 8px;
  border-radius: 5px;
  align-items: center;
}

.switch_filter_account p {
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  padding: 10px 15px;
}

.on-dassh,
.off-dash {
  padding: 10px 15px;
  cursor: pointer;
  transition: 0.3s;
}

.on-dash {
  background-color: var(--cinza-bg);
  border-radius: 3px;
}


/* Estilo para o input de ano */
.input_year {
  padding: 10px;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  outline-style: none;
  width: 120px;
  text-align: left;
}

/* Remove as setas do input number
.input_year::-webkit-outer-spin-button,
.input_year::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input_year {
  -moz-appearance: textfield;
} */


@media (max-width: 768px) {

  .title_area {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 15px;
  }

  .title_area select,
  .title_area input {
    width: 100%;
    margin-bottom: 10px;
  }

  #h1_title {
    width: 190px !important;
  }


}

@media (max-width: 480px) {
  .left_area-dash {
    width: 200px;
  }

  .title_area input,
  .title_area select {
    padding: 10px;
    font-size: 12px;
  }

}