.title_area {
    display: flex;
    justify-content: space-between;
}

.home_h1 {
    width: 31.5%;
    font-size: 25px;
}

.title_area input,
.title_area select {
    width: 31.5%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    font-weight: bold;
    outline-style: none;
}

