.screen-savings {
  display: flex;
  height: 100%;
}

.left_area_savings {
  background-color: #1a3c34;
}

.right_area {
  width: 100%;
  flex: 1;
  background-color: #e8f0f2;
  overflow-y: auto;
}

.title_area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.title_area h1 {
  font-size: 24px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}

/* Media */
@media(max-width: 1180px) {
  .title_area {
    gap: 10px;
    width: 100%;
    text-align: center;
    display: flex;
  }

  .title_area h1 {
    width: 100%;
  }

  .title_area select,
  .title_area input {
    width: 100%;
  }
}

@media(max-width: 770px) {
  .at_title_area_left {
    width: 100%;
  }
}